* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
   color: var(--text-color);
}

:root {
   --text-color: white;
   --bg-url: url(../img/mob_dark_mode.png);
   --stroke-color: rgba(255, 255, 255, 0.5);
   --surface-color: rgba(255, 255, 255, 0.05);
   --surface-color-hover: rgba(0, 0, 0, 0.02);
   --highlight-color: rgba(255, 255, 255, 0.2);
   --switch-bg-url: url(../img/moon-stars.svg);
}

.light {
   --text-color: black;
   --bg-url: url(../img/mob_light_mode.png);
   --stroke-color: rgba(0, 0, 0, 0.5);
   --surface-color: rgba(0, 0, 0, 0.05);
   --surface-color-hover: rgba(0, 0, 0, 0.02);
   --highlight-color: rgba(0, 0, 0, 0.1);
   --switch-bg-url: url(../img/sun.svg);
}
body {
   background: var(--bg-url) no-repeat top center/cover;
   
}

ul, li {
   list-style: none;
}

a {
   text-decoration: none;
   cursor: pointer;
}